body {
    font-family: Arial, sans-serif;
    background: url('../img/admin.webp') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2em;
    transition: color 0.3s;
}

ul li a:hover {
    color: #0056b3;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #dc3545;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #c82333;
}
