body {
    font-family: Arial, sans-serif;
    background: url('../img/pexels-tirachard-kumtanom-112571-733857.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    line-height: 1.6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #000;
    font-size: 2.5em;
    font-weight: bold;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

.form-container {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: #000;
}

input[type="text"], input[type="password"], input[type="email"], select, input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button[type="submit"], .btn {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button[type="submit"]:hover, .btn:hover {
    background-color: #218838;
}

.btn {
    background-color: #007bff;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    .form-group {
        margin-bottom: 10px;
    }

    input[type="text"], input[type="password"], input[type="email"], select, input[type="number"] {
        font-size: 16px;
    }

    button[type="submit"], .btn {
        font-size: 16px;
    }
}
.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: #000;
}

input[type="text"], input[type="password"], input[type="email"], select, input[type="number"], input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
